<div class="card m-4" style="height: 30vh; background-color:oldlace;">
    <h1 style="text-align: center; position: relative; color: red">ERROR 404</h1>
    <h3 style="text-align: center; color: red;">-Page Not Found</h3>
    <app-loading style="text-align: center;"></app-loading>
    <h5 style="position: absolute; right: 25px; bottom: 10px; color: olivedrab;">Are you lost...&#x219b; <span style="color: navy; font-weight: 600; cursor: pointer;" [routerLink]="'/login'">To Main page</span></h5>
</div>